/* Header Title and Navigation Styles */
*{
    margin:0;
    font-family: 'Work Sans';
    font-style: normal;
}
.top-header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-title > h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 200px;
}
.ul-item {
    display: flex;
    list-style: none;
    gap:20px;
}
.ul-item li > a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-decoration: none;
}
.header-title{
    display: flex;
    flex-direction: column;
    padding:0px 200px;
    align-items: center;
}
.header-title-container{
    text-align: center;
}
.header-title-container > h2{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #131313;

}
.header-title-container > p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    padding:20px 200px;
}
.button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border:none;
    border-radius: 8px;
    padding:20px 0px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.top-img-container > img{
    width:100%;
    padding:50px 0px;
}
/* Apply Styes to Middle section  */
.middle-section{
    display: flex;
    align-items: center;
}
.middle-section-img{
    padding-top: 50px;
    padding-left: 200px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style-type: none;
    gap:20px;
}
.middle-grid-img{
    width:250px;
}
.middle-section-others{
    padding-left: 50px;
}
/* middle text section  */
.QuickList{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.middle-title-text{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.middle-Feature-text{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.middle-text-para{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding:20px 0px;
    padding-right:100px;
    text-align: left;
}
/* Features Section  */
.features-section{
    display: flex;
}
.feature-title-text{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width:400px;
    border-left:20px;
    border-color: #FF900E;
    padding-left:100px;
    padding-top:50px;
    padding-bottom: 50px;
}
.feature-para-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: left;
    padding-left:100px;
    padding-top:25px;
}
.list-of-features-text{
    padding-left:100px;

}
.feature-text{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left:100px;
    padding-right: 100px;
    padding-top:50px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-text > h3{
    padding-bottom:10px;
}
.feature-image{
}