/* Header Title and Navigation Styles */
*{
    margin:0;
    font-family: 'Work Sans';
    font-style: normal;
}
.top-header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-title > h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 200px;
}
.ul-item {
    display: flex;
    list-style: none;
    gap:20px;
}
.ul-item li > a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-decoration: none;
}
.header-title{
    display: flex;
    flex-direction: column;
    padding:0px 200px;
    align-items: center;
}
.header-title-container{
    text-align: center;
}
.header-title-container > h2{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #131313;

}
.header-title-container > p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    padding:20px 200px;
}
.button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border:none;
    border-radius: 8px;
    padding:20px 0px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.top-img-container > img{
    width:100%;
    padding:50px 0px;
}
/* Apply Styes to Middle section  */
.middle-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-section-img{
    padding-top: 50px;
    padding-left: 200px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style-type: none;
    gap:20px;
}
.middle-grid-img{
    width:250px;
}
.middle-section-others{
    padding-left: 50px;
}
/* middle text section  */
.QuickList{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.middle-title-text{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.middle-Feature-text{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.middle-text-para{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding:20px 0px;
    padding-right:100px;
    text-align: left;
}
/* Features Section  */
.features-section{
    padding-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-text-container{
    padding:50px 0px;
    padding-left:200px;
    padding-right:80px;
    border:10px;
    border-color: #FF900E;
}
.feature-title-h3{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width:400px;
    padding-left:10px;
    padding-top:50px;
}
.feature-para-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: left;
    padding-left:10px;
    padding-top:25px;
    width:500px;
}
.list-of-features-text{
    padding-top:20px;

}
.feature-text{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding:20px 50px;
    width:400px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-text > h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.feature-image{
    width:100%;
}
.feature-button{
    position:relative;
    left:650px;
    top:-120px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border:none;
}
.button-text-h2{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}
.button-text-p{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* Statistics Section Styles */

.statistics-container{
    align-items: center;
}
.top-statistics-text{
    padding-left:120px;
    width:450px;
}
.top-statistics-text > h3{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.top-statistics-text > p{
    padding-top:10px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.ul-statistics-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 180px;
    list-style: none;
}
.statistics-box{
    text-align: center;
    border: 1px solid #FF900E;
    width:160px;
    height:160px;
    padding-top: 50px;
    padding:20px;
}
.statistics-box h3{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.statistics-box p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Sponsors Section Styles */
.sponsors-container{
    align-items: center;
}
.sponsors-text{
    padding-top:80px;
    text-align: center;
}
.sponsors-text > h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsors-text > p{
    padding-top: 20dpx;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.sponsors-img-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding:40px 150px;
}
.sponsors-img-ul img{
    width:50%;
    filter: grayscale(100%);
}

/* Style Apply on footer  */
.bottom-footer{
    margin:0 120px;
    padding:40px 0px;
    background: #FFF4E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}
/* Responsive Design */
@media screen and (max-width:576px){
    .nav-title > h3{
        font-weight: 500px;
        font-size: 25px;
    }

    .nav-container{
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        padding:20px 0px;
    }
    .header-title{
        display: flex;
        flex-direction: column;
        padding:0px 0px;
        align-items: center;
    }
    .header-title-container > h2{
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #131313;
    }
    .header-title-container > p{
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #727272;
        padding:10px 0px;
    }
    top-img-container > img{
        width:50%;
        padding:25px 0px;
    }
    .button{
        width: 120px;
        height: 44px;
        font-weight: 400;
        font-size: 10px;
    }
/* Responsive Middle Section  */
    .middle-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        list-style-type: none;
        gap:20px;
    }
    .middle-grid-img{
        width:250px;
    }
/* Feature Section Responsive */
.features-section{
    padding-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.feature-text{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding:20px 40px;
    width:300px;
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}
.feature-title-h3{
    font-weight: 700;
    font-size: 25px;
    color: #131313;
    width:300px;
    padding-left:0px;
    padding-top:10px;
}
.feature-para-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: left;
    padding-left:0px;
    padding-top:10px;
    width:300px;
}

/*Responsive Bottom Section  */
.ul-statistics-box-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding:50px 180px;
    list-style: none;
}
.top-statistics-text > h3{
    font-weight: 700;
    font-size: 25px;
    color: #131313;
}
.top-statistics-text > p{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    width:250px;
}

.sponsors-text > h2{
    font-weight: 700;
    font-size: 25px;
    color: #131313;
    padding:0px;
}
.sponsors-text > p{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}
.sponsors-img-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding:40px 150px;
    flex-direction: column;
}
.bottom-footer{
    padding:40px 0px;
    background: #FFF4E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}

}